.form * {
    display: block;
}
.form input {
    padding: 5%;
    margin: 5% auto;
}
.form input:nth-child(5) {
    padding: 6%;
}
.center {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
